<table>
  <tr>
    <th>Tutors</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tutors.each do |tutor| %>
  <tr>
    <td><%= tutor.name %></td>
    <td><%= link_to 'Delete', tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tutor', new_tutor_path %>

<%= link_to 'Add/Remove Times', shift_times_path %>
