table {
      margin-left : auto;
      margin-right : auto;
      border-spacing : 0;
}

body {
     text-align : center;
}

table.tutornames {
		 border-spacing : 2px;
}

li {
    list-style : none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

.delete {
	font-size: 10px;
}

th {
   padding:2px;
}

.arrrgputitatthebottom {
		       display : block;
}