.ui-selected.pref{
    background-color : #008800;
}
.ui-selected.can{
    background-color : #000088;
}
.ui-selected.no{
    background-color : #880000;
}
.pref{
    background-color : #00FF00;
}
.can{
    background-color : #0000FF;
}
.no{
    background-color : #FF0000;
}